<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Some Website</title>
</head>
<body>
{{> header}}</br>
{{> self}}</br>
<h1>Academic</h1>
{{courses}}</br>
{{courses1}}</br>
{{courses2}}</br>
{{courses3}}</br>
{{> footer}}
</body>
</html>