<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Some Website</title>
</head>
<body>
{{> header}}
{{> self}}</br>
<h1>Examination</h1></br>
{{InformationSystem}}</br>
{{NodeJs}}</br>
{{CapstoneProject}}</br>
{{MultiplatformwithMobileApp}}</br>
{{> footer}}
</body>
</html>